@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
html {
  font-size: 10px;
  font-family: var(--josefin-sans);
}

:root {
  --bg: 255,255,255;
  --text: 0,0,0;
  --d-gray: 40,40,40;
  --pink: 245,17,103;
  --josefin-sans: "Josefin Sans", sans-serif;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
body::-webkit-scrollbar-track {
  background: rgba(var(--d-gray), 1);
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(var(--pink), 0.7);
  border-radius: 20px;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  border: 2px solid rgba(var(--d-gray), 1);
}
body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--pink), 1);
}

.header__top {
  background: rgb(var(--bg));
  height: 76px;
}
.header__top-wrap {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.header__top-wrap i {
  font-size: 2.2rem;
}
.header__logo {
  padding: 0 20px;
}
.header__search {
  flex-grow: 4;
}
.header__search-wrap {
  position: relative;
  margin: 0 20px;
}
.header__search-wrap input {
  width: 100%;
  height: 44px;
  border-radius: 20px;
  border: none;
  background: #f0f0f0;
  padding-left: 10px;
  box-sizing: border-box;
}
.header__search-wrap input::-moz-placeholder {
  color: rgba(var(--d-gray), 0.5);
  font-family: var(--josefin-sans);
  font-weight: 600;
}
.header__search-wrap input::placeholder {
  color: rgba(var(--d-gray), 0.5);
  font-family: var(--josefin-sans);
  font-weight: 600;
}
.header__search-wrap button {
  position: absolute;
  top: 0;
  right: 5px;
  height: 100%;
  border: 0px;
  background: transparent;
}
.header__search-wrap button i {
  font-size: 2rem;
}
.header__user-panel {
  display: flex;
  font-size: 1.4rem;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  font-family: var(--josefin-sans);
}
.header__user-panel a {
  font-family: var(--josefin-sans);
  color: rgb(var(--text));
  text-decoration: none;
}
.header__cart-icon {
  display: inline-block;
  position: relative;
}
.header__cart-icon span {
  position: absolute;
  font-size: 1rem;
  top: -0.2rem;
  right: -0.2rem;
  background: rgb(var(--pink));
  color: rgb(var(--bg));
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
  line-height: 1.5rem;
  padding: 0.2rem 0.2rem 0.1rem;
  text-align: center;
  border-radius: 50%;
}
.header__bottom {
  background: rgb(var(--d-gray));
  color: rgb(var(--bg));
  height: 50px;
}

.nav {
  height: 100%;
}
.nav__wrap {
  height: 100%;
}
.nav a {
  text-decoration: none;
  color: rgb(var(--bg));
}
@media (min-width: 1200px) {
  .nav__burger {
    display: none;
  }
}
.nav__menu {
  height: 100%;
  display: flex;
  align-items: center;
  font-family: var(--josefin-sans);
}
.nav__menu li {
  position: relative;
  font-size: 1.6rem;
  margin: 0 2.5%;
}
.nav__menu li a {
  transition: 0.2s ease;
}
.nav__menu li a:hover {
  color: rgb(var(--pink));
}
.nav__menu li .promo {
  position: absolute;
  top: -24px;
  font-weight: bold;
  font-size: 1rem;
  padding: 5px;
  height: 16px;
  box-sizing: border-box;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  background: rgb(var(--pink));
  left: 0;
  right: 0;
}
.nav__menu-sub {
  display: none;
}

.container {
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    width: 1199px;
  }
}

.footer {
  background: rgb(var(--d-gray));
  color: rgb(var(--bg));
}
.footer__top {
  display: flex;
  flex-flow: column nowrap;
}
.footer__logo {
  text-align: center;
}
.footer__logo-img {
  margin: 60px 0 50px;
}
.footer__menu {
  display: flex;
  flex-grow: 1;
  padding: 0 11px;
  box-sizing: border-box;
}
.footer__menu > div {
  width: 25%;
  box-sizing: border-box;
  padding: 11px 16px;
  margin-bottom: 70px;
}
.footer__menu > div h3 {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: var(--josefin-sans);
  text-transform: uppercase;
  margin-bottom: 46px;
}
.footer__bottom {
  border-top: 2px solid rgba(var(--bg), 0.05);
  padding: 46px 0;
}
.footer__social {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-family: var(--josefin-sans);
  margin: 0px 0px 25px;
}
.footer__social li {
  display: inline;
  padding: 0 20px 0 10px;
}
.footer__social li i {
  font-size: 3rem;
  margin-right: 15px;
  background: linear-gradient(45deg, #f9ce34 33%, #ee2a7b 66%, #6228d7);
  -webkit-background-clip: text;
  padding: 2px;
  color: rgb(var(--bg));
  transition: 0.2s ease;
}
.footer__social li span {
  margin: 10px 0 5px;
}
.footer__social li a {
  display: flex;
  align-items: center;
  color: rgba(var(--bg), 0.6);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.2s ease;
}
.footer__social li a:hover {
  color: rgb(var(--bg));
}
.footer__social li a:hover i {
  color: transparent;
}
.footer__copyright {
  text-align: center;
  font-size: 1.4rem;
  font-family: var(--josefin-sans);
  padding: 20px 0 20px;
}

.about__text {
  font-family: var(--josefin-sans);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
  color: rgba(var(--bg), 0.45);
  letter-spacing: -0.01em;
  margin-bottom: 53px;
}

.questions-1__lists {
  display: flex;
}
.questions-1__list {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
}
.questions-1__list li {
  padding-left: 20px;
  height: 3rem;
  position: relative;
  transition: 1s ease;
}
.questions-1__list li:before {
  content: "";
  border: 1px solid rgb(var(--pink));
  border-radius: 50%;
  top: 0.3rem;
  left: 4px;
  position: absolute;
  width: 0.4rem;
  height: 0.4rem;
  color: rgb(var(--pink));
  transition: 0.3s ease;
}
.questions-1__list li:hover::before {
  background: rgb(var(--pink));
  transform: scale(1.5);
}
.questions-1__list li:hover a {
  color: rgb(var(--bg));
}
.questions-1__list li a {
  display: block;
  color: rgba(var(--bg), 0.45);
  font-size: 1.4rem;
  font-family: var(--josefin-sans);
  text-decoration: none;
  margin-bottom: 6px;
  transition: 0.2s ease;
}
.questions-2__card {
  display: flex;
  height: 64px;
  font-family: var(--josefin-sans);
  margin-bottom: 25px;
}
.questions-2__card img {
  height: 100%;
  width: 64px;
}
.questions-2__card-context {
  display: flex;
  flex-direction: column;
  padding: 5px 0 5px 20px;
}
.questions-2__card-context h4 {
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(var(--bg), 0.05);
  font-size: 1.4rem;
  margin-bottom: 5px;
}
.questions-2__card-context span {
  flex-grow: 1;
  color: rgba(var(--bg), 0.5);
  font-size: 1.2rem;
}
.questions-2__card-context a {
  text-decoration: none;
  color: rgb(var(--pink));
  font-size: 1.2rem;
}
.questions-3 {
  display: inline;
  font-family: var(--josefin-sans);
}
.questions-3 ul li {
  font-size: 1.4rem;
  display: flex;
  margin-bottom: 1.3rem;
  line-height: 1.6;
  color: rgba(var(--bg), 0.4);
}
.questions-3 ul li span {
  font-size: 1.6rem;
  color: rgb(var(--pink));
}
.questions-3 ul li p {
  padding-left: 15px;
}

.hero {
  position: relative;
  height: 720px;
}
.hero .bg_1 {
  background: #000 url(../images/bg/bg.jpg) center no-repeat;
  height: 100%;
}
.hero .bg_2 {
  background: #000 url(../images/bg/bg-2.jpg) center no-repeat;
  height: 100%;
}

.hero .offer {
  display: none;
  color: #fff;
  position: absolute;
  right: 30px;
  top: 30px;
  width: 162px;
  height: 162px;
  border-radius: 50%;
  background: #f51167;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  animation: dollars 1s;
}

@keyframes dollars {
  0% {
    opacity: 0;
    transform: rotate(90deg);
  }
  50% {
    opacity: 0;
    transform: rotate(45deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}
.hero .offer_radius {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  box-sizing: border-box;
}

.hero .offer p {
  font-size: 7rem;
  line-height: 8rem;
  margin: 0;
}

.hero .offer span {
  display: block;
  margin: 6px;
}

.hero .offer span:first-child {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
}

.hero .offer span:last-child {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.hero .text1 {
  display: grid;
  grid-template-columns: minmax(0px, 670px);
  margin: 200px 0 0;
  padding: 0 10%;
}

.hero .text1 div {
  width: 100%;
  color: #fff;
  text-transform: uppercase;
}

.hero .text1 span {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 3px;
}

.hero .text1 h2 {
  margin: 10px 0 15px;
  font-size: 5rem;
  font-weight: bold;
}

.hero .text1 p {
  line-height: 2.5rem;
  text-transform: none;
  font-size: 1.8rem;
  font-weight: 300;
}

.hero .text1 a {
  display: inline-block;
  margin-top: 30px;
  color: #fff;
  text-decoration: none;
  padding: 15px 45px;
  border: 1px solid #fff;
  border-radius: 35px;
  font-weight: bold;
  font-size: 1.5rem;
}

.hero .text1 a:last-child {
  background: #fff;
  color: #000;
}

.carousel__item {
  position: relative;
}
.carousel__context {
  position: absolute;
  left: 12% !important;
  right: 12% !important;
  height: 100%;
  box-sizing: border-box;
  inset: 0;
  padding-left: 5px;
  padding-bottom: 80px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.carousel__text {
  width: 587px;
  padding: 0 15px;
  box-sizing: border-box;
  text-align: left;
}
.carousel__text span {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 15px;
  display: block;
  position: relative;
  opacity: 0;
  animation: 1s ease textCarusel forwards;
}
.carousel__text h2 {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 17px;
  position: relative;
  opacity: 0;
  animation: 1s 0.3s ease textCarusel forwards;
}
.carousel__text p {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 35px;
  position: relative;
  line-height: 1.6;
  opacity: 0;
  animation: 1s 0.6s ease textCarusel forwards;
}
.carousel__text a {
  display: inline-block;
  font-size: 1.4rem;
  min-width: 167px;
  padding-top: 17px;
  padding-bottom: 13px;
  border-radius: 50px;
  text-transform: uppercase;
  line-height: normal;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  opacity: 0;
  animation: 1s 0.9s ease textCarusel forwards;
}
.carousel__link {
  background: rgb(var(--bg));
  color: rgb(var(--text));
  padding-left: 11px;
  padding-right: 11px;
  border: 1px solid rgb(var(--bg));
}
.carousel__link-novisible {
  background: transparent;
  border: 1px solid rgb(var(--bg));
  color: rgb(var(--bg));
  margin-right: 7px;
}
.carousel__offer {
  background: rgb(var(--pink));
  height: 160px;
  width: 160px;
  position: relative;
  border-radius: 50%;
  opacity: 0;
  animation: 0.5s 1s ease offer forwards;
}
.carousel__offer-radius {
  border-radius: 50%;
  border: 1px solid rgba(var(--bg), 0.5);
  position: absolute;
  padding: 10px;
  inset: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.carousel__offer-radius span {
  font-size: 2rem;
}
.carousel__offer-radius h2 {
  font-size: 7.2rem;
}
.carousel__offer-radius p {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 300;
}
.carousel__control {
  height: 0px !important;
  position: relative !important;
  border: 2px solid rgba(var(--bg), 0.6) !important;
  background: transparent !important;
  border-radius: 50%;
  height: 20px !important;
  width: 20px !important;
  text-indent: 0 !important;
}
.carousel__control i {
  font-size: 1.6rem;
  line-height: 2rem;
}
.carousel__control:hover {
  color: rgba(var(--bg), 0.9);
}
.carousel__indicators {
  margin-right: 0 !important;
  margin-left: 0 !important;
  width: 100%;
  display: block !important;
}
.carousel__indicators-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel__button {
  display: flex;
  align-items: center;
}
.carousel__indicator {
  height: 10px !important;
  width: 10px !important;
  border-radius: 50%;
}
.carousel__number {
  color: rgb(var(--bg));
  font-size: 2.4rem;
}
.carousel__number span {
  font-weight: bold;
}

.feature {
  background: #a00;
}
.feature__list {
  display: flex;
  width: 100%;
}
.feature__list li {
  flex-grow: 1;
  background: #f8f8f8;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
}
.feature__list li:nth-child(2) {
  background: rgb(var(--pink));
  color: rgb(var(--bg));
}
.feature__list li i {
  margin-right: 10px;
  font-size: 4rem;
}

@keyframes textCarusel {
  0% {
    transform: translateY(120px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}
@keyframes offer {
  0% {
    transform: rotate(30deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
.latest-products__title {
  margin: 60px auto;
}

.card__img {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  height: 405px;
  overflow: hidden;
  position: relative;
}
.card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__btn {
  display: flex;
  justify-content: end;
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
}
.card__cart, .card__like {
  height: 2rem;
  width: 2rem;
  font-size: 1.8rem;
  background: rgb(var(--bg));
  color: rgb(var(--text));
  padding: 5px;
  border-radius: 20px;
  text-align: center;
  line-height: 2.7rem;
}
.card__cart {
  margin-right: 5px;
  padding: 0;
  height: 3rem;
  width: 3rem;
  text-decoration: none;
  transition: 0.2s ease;
  position: relative;
  overflow: hidden;
}
.card__cart:hover {
  width: 110px;
}
.card__cart-wrap {
  position: absolute;
  display: flex;
  height: 2rem;
  padding: 0.5rem;
}
.card__cart-wrap i {
  height: 2rem;
  width: 2rem;
  box-sizing: border-box;
}
.card__cart-wrap span {
  width: 80px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  transform: translateY(1rem);
  opacity: 0;
  transition: 0.4s ease 0.1s;
}
.card__cart-wrap:hover {
  width: auto;
  justify-content: center;
}
.card__cart-wrap:hover span {
  opacity: 1;
  transform: translateY(-1px);
}
.card__item {
  margin: 0 auto;
  width: 90%;
}
.card__text {
  display: flex;
  font-size: 1.6rem;
  width: 90%;
  margin: 20px auto 30px;
  align-items: center;
  justify-content: space-between;
}
.card__price {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 0 5px;
}

.latest__carousel-wrap {
  overflow: hidden;
  transition: 0.5s ease;
}
.latest__carousel-inner {
  transition: 0.5s ease;
  overflow: visible;
}
.latest__control-prev, .latest__control-next {
  color: rgb(var(--d-gray));
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  border: 2px solid rgb(var(--d-gray));
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.6;
  transition: 0.2s ease;
}
.latest__control-prev:hover, .latest__control-next:hover {
  color: rgb(var(--d-gray));
  opacity: 1;
  background: rgba(var(--d-gray), 0.08);
}
.latest__control-prev:focus, .latest__control-next:focus {
  color: rgb(var(--d-gray));
}
.latest__control-next {
  right: -4vh;
}
.latest__control-prev {
  left: -4vh;
}

.latest__carousel-inner {
  display: flex;
}
.latest__carousel-item {
  margin-right: 0;
  flex: 0 0 25%;
  display: block;
}

.browse__title {
  padding: 70px 0;
  font-size: 3.6rem;
}
.browse__buttons {
  display: flex;
  justify-content: space-between;
  margin: 26px 0;
}
.browse__buttons a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 34px;
  border-radius: 30px;
  font-size: 1.2rem;
  color: rgb(var(--d-gray));
  background: rgba(var(--d-gray), 0.1);
}
.browse__button-more {
  text-align: center;
}
.browse__button-more button {
  border: 1px solid rgb(var(--d-gray));
  background: rgba(var(--d-gray), 0);
  padding: 15px 30px;
  border-radius: 30px;
  font-family: var(--josefin-sans);
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.1s ease;
}
.browse__button-more button:hover {
  background: rgba(var(--d-gray), 0.1);
  transform: scale(1.05);
  box-shadow: 0 0 5px rgb(var(--d-gray));
}
.browse__button-more button:active {
  background: rgba(var(--d-gray), 0.5);
}

.products {
  display: flex;
  flex-wrap: wrap;
}
.products__card {
  width: 25%;
}

.banner {
  width: 100%;
  height: 243px;
  margin: 60px 0;
  background: url("../images/banner-bg.jpg");
  position: relative;
  color: rgb(var(--d-gray));
  box-sizing: border-box;
  padding: 20px;
}
.banner__title {
  text-align: left;
  width: 100%;
  font-size: 4.8rem;
  font-weight: bold;
}
.banner__title-sup {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
}
.banner__promo {
  position: absolute;
  right: 1vw;
  top: 1vw;
  background: #50e505;
  color: #fff;
  font-size: 2rem;
  padding: 7px 10px 5px;
  border-radius: 20px;
  box-sizing: border-box;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.banner__button {
  text-decoration: none;
  background: rgb(var(--pink));
  color: rgb(var(--bg));
  padding: 18px 47px 14px;
  border-radius: 30px;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */