@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
html {
  font-size: 10px;
}

:root {
  --bg: 255,255,255;
  --text: 0,0,0;
  --d-gray: 40,40,40;
  --pink: 245,17,103;
  --josefin-sans: "Josefin Sans", sans-serif;
}

.header__top {
  background: rgb(var(--bg));
  height: 76px;
}
.header__top-wrap {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.header__top-wrap i {
  font-size: 2.2rem;
}
.header__logo {
  padding: 0 20px;
}
.header__search {
  flex-grow: 4;
}
.header__search-wrap {
  position: relative;
  margin: 0 20px;
}
.header__search-wrap input {
  width: 100%;
  height: 44px;
  border-radius: 20px;
  border: none;
  background: #f0f0f0;
  padding-left: 10px;
  box-sizing: border-box;
}
.header__search-wrap input::-moz-placeholder {
  color: rgba(var(--d-gray), 0.5);
  font-family: var(--josefin-sans);
  font-weight: 600;
}
.header__search-wrap input::placeholder {
  color: rgba(var(--d-gray), 0.5);
  font-family: var(--josefin-sans);
  font-weight: 600;
}
.header__search-wrap button {
  position: absolute;
  top: 0;
  right: 5px;
  height: 100%;
  border: 0px;
  background: transparent;
}
.header__search-wrap button i {
  font-size: 2rem;
}
.header__user-panel {
  display: flex;
  font-size: 1.4rem;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  font-family: var(--josefin-sans);
}
.header__user-panel a {
  font-family: var(--josefin-sans);
  color: rgb(var(--text));
  text-decoration: none;
}
.header__cart-icon {
  display: inline-block;
  position: relative;
}
.header__cart-icon span {
  position: absolute;
  font-size: 1rem;
  top: -0.2rem;
  right: -0.2rem;
  background: rgb(var(--pink));
  color: rgb(var(--bg));
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
  line-height: 1.5rem;
  padding: 0.2rem 0.2rem 0.1rem;
  text-align: center;
  border-radius: 50%;
}
.header__bottom {
  background: rgb(var(--d-gray));
  color: rgb(var(--bg));
  height: 50px;
}

.nav {
  height: 100%;
}
.nav__wrap {
  height: 100%;
}
.nav a {
  text-decoration: none;
  color: rgb(var(--bg));
}
@media (min-width: 1200px) {
  .nav__burger {
    display: none;
  }
}
.nav__menu {
  height: 100%;
  display: flex;
  align-items: center;
  font-family: var(--josefin-sans);
}
.nav__menu li {
  position: relative;
  font-size: 1.6rem;
  margin: 0 2.5%;
}
.nav__menu li a {
  transition: 0.2s ease;
}
.nav__menu li a:hover {
  color: rgb(var(--pink));
}
.nav__menu li .promo {
  position: absolute;
  top: -24px;
  font-weight: bold;
  font-size: 1rem;
  padding: 5px;
  height: 16px;
  box-sizing: border-box;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  background: rgb(var(--pink));
  left: 0;
  right: 0;
}
.nav__menu-sub {
  display: none;
}

.container {
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    width: 1199px;
  }
}

.footer {
  background: rgb(var(--d-gray));
  color: rgb(var(--bg));
  height: 99vh;
}
.footer__top {
  display: flex;
  flex-flow: column nowrap;
}
.footer__logo {
  text-align: center;
}
.footer__logo-img {
  margin: 60px 0 50px;
}
.footer__menu {
  display: flex;
  flex-grow: 1;
  padding: 0 11px;
  box-sizing: border-box;
}
.footer__menu > div {
  width: 25%;
  box-sizing: border-box;
  padding: 11px 16px;
}
.footer__menu > div h3 {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: var(--josefin-sans);
  text-transform: uppercase;
  margin-bottom: 46px;
}
.footer__bottom {
  border-top: 1px solid rgba(var(--bg), 0.1);
}
.footer__social {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: var(--josefin-sans);
  margin: 75px 27px;
}
.footer__social li {
  display: inline;
}
.footer__social li i {
  font-size: 3rem;
  margin-right: 20px;
  background: linear-gradient(45deg, #f9ce34 33%, #ee2a7b 66%, #6228d7);
  -webkit-background-clip: text;
  color: rgb(var(--bg));
  transition: 0.2s ease;
}
.footer__social li span {
  margin: 10px 0 5px;
}
.footer__social li a {
  display: flex;
  align-items: center;
  color: rgba(var(--bg), 0.6);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.2s ease;
}
.footer__social li a:hover {
  color: rgb(var(--bg));
}
.footer__social li a:hover i {
  color: transparent;
}

.about__text {
  font-family: var(--josefin-sans);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
  color: rgba(var(--bg), 0.45);
  letter-spacing: -0.01em;
  margin-bottom: 53px;
}

.questions-1 {
  color: #faa;
}
.questions-1__title {
  color: #f33;
}
.questions-1__list {
  display: inline-block;
  box-sizing: border-box;
}
.questions-1__list li {
  padding-left: 20px;
  position: relative;
  transition: 1s ease;
}
.questions-1__list li:before {
  content: "";
  border: 1px solid rgb(var(--pink));
  border-radius: 50%;
  top: 0.3rem;
  left: 5px;
  position: absolute;
  width: 0.3rem;
  height: 0.3rem;
  color: rgb(var(--pink));
  transition: 0.3s ease;
}
.questions-1__list li:hover::before {
  background: rgb(var(--pink));
}
.questions-1__list li a {
  display: block;
  color: #fff;
  font-size: 1.4rem;
  font-family: var(--josefin-sans);
  text-decoration: none;
  margin-bottom: 6px;
}
.questions-2 {
  color: #afa;
}
.questions-3 {
  color: #aaf;
}/*# sourceMappingURL=style.css.map */